<div class="product px-2 py-4">
    <a [routerLink]="['/productdetials' , product.id]" >
    <img [src]="product.imageCover" class="w-100"  alt="">
    <p class="text-main">{{product.category.name}}</p>
    <h2 class="h6">{{product.title.split(' ').splice(0,2).join(' ')}}</h2>
    <div class="d-flex justify-content-between mb-1">
        <span>{{product.price}} EGP</span>
        <div>
            <i class="fa fa-star rating-color"></i>
            {{product.ratingsAverage}}
        </div>
    </div>
</a>

    <button class="btn bg-main w-100 text-white" (click)="addtocart(product.id)">+ Add</button>
</div>
