<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../assets/images/freshcart-logo.svg" alt="" class="w-100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-3" id="navbarScroll" >
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;" *ngIf="isloggedin" >
          <li class="nav-item">
            <a class="nav-link " routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Categories">categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="brands">brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">cart</a>
          </li>
        </ul>
      </div>

        <div class="d-flex " role="search">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item ">
              <a class="nav-link">  <i class="fa-brands text-black fa-instagram"></i>   </a>  
            </li>
            <li class="nav-item ">
              <a class="nav-link">  <i class="fa-brands text-black fa-facebook"></i>  </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link">   <i class="fa-brands text-black fa-twitter"></i>  </a>             
            </li>
            <li class="nav-item ">
              <a class="nav-link">   <i class="fa-brands text-black fa-linkedin"></i> </a>            
            </li>
            <li class="nav-item ">
              <a class="nav-link">  <i class="fa-brands text-black fa-youtube"></i>  </a>             
            </li>
            <li class="nav-item" *ngIf="!isloggedin">
              <a class="nav-link " routerLink="signup">Register</a>
            </li>
            <li class="nav-item" *ngIf="!isloggedin" >
              <a class="nav-link" routerLink="login">login</a>
            </li>
            <li (click)="logout ()" class="nav-item" *ngIf="isloggedin">
              <a class="nav-link logOut cursor-pointer">logOut</a>
            </li>
          
          </ul>
        </div>     
      </div> 
  </nav>

